@media print {
    @page {
        margin: 0.2in 0.75in 0.2in 0.75in;
    }

    /* body {
        margin-left: 20mm; 
    } */
}

table {
    margin-left: auto;  
    margin-right: auto;  
}

.titleSet {
    text-align:center;
    font-size: 35px;
    font-family:"黑体";
}

.indexSet {
    text-align:right;
}

.borderSet {
    border:1px solid #000000;
    text-align:center;
}

.borderSet-text-left {
    border:1px solid #000000;
    text-align: left;
    padding: 10pt 10pt 10pt 10pt;
}

.borderSet-text-topleft {
    border:1px solid #000000;
    text-align: left;
    vertical-align: top;
    padding: 10pt 10pt 10pt 10pt;
}

.borderSet-line-left {
    border-left: 1px solid #000000;
}

.text-center {
    text-align:center;
}

.text-left {
    text-align:left;
}

.borderSet-line-right {
    border-right: 1px solid #000000;
}

.font-simsun {
    font-family:"simsun";
    color:#000000;
}