
.layui-table-testcss .layui-table-header,
.layui-table-testcss thead tr{background-color: #F8FCF9; color: #16BAAA}
.layui-form-testcss > div{margin-bottom: 6px;}

.layui-table[lay-even] tbody tr:nth-child(even) {
    background-color: #dbf3f9;
}